# POSTGRES_HOST=127.0.0.1:5432
POSTGRES_HOST=postgres_psw:5432
POSTGRES_DB=social_media_audience
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pa5Sw0rd
POSTGRES_RPASS=pa5Sw0rd
POSTGRES_WPASS=pa5Sw0rd
WRITE_TOKEN=pa5Sw0rd
FLASK_APP=./main.py
