# environment variables
# INFO: rename to ".env" to keep private (i.e. .env is in .gitignore)

# token for write access to a database
DATABASE_TOKEN=123456789

# healthchecks.io uuid slug
HEALTHCHECKS_UUID=123456789
